mat-card {
  margin: 50px 160px;
}

#teamMemberSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.member-card > mat-card {
  width: 158px;
  height: 204px;
  margin: 0 20px 24px;
  float: left; /* to keep them in one row */
}

img {
  width: 150px;
}
