<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" opened>
    <div id="heading">
      <h3>
        <img id="envisionLogo" style="vertical-align: middle;" src="/assets/favicon.png">
        <span>Envision Client</span>
      </h3>
    </div>
    <mat-divider></mat-divider>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="text-align: center">
      <mat-toolbar>
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>

        <div class="search-bar">
          <form class="search-form">
            <button class="search-button">
              <mat-icon>search</mat-icon>
            </button>
            <input matInput type="search" placeholder="Search" style="margin-left: -15px;">
          </form>
        </div>

        <span class="fill-space"></span>

        <div class="profile">
          <button mat-icon-button>
            <mat-icon>message</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon>notifications</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon>person</mat-icon>
          </button>
        </div>
      </mat-toolbar>
      <app-home></app-home>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
