<mat-sidenav-container class="container">
  <mat-sidenav #sidenav mode="{{ navMode }}" opened>
    <div id="heading">
      <h3>
        <img id="envisionLogo" style="vertical-align: middle;" src="/assets/logo.png">
      </h3>
    </div>
    <mat-divider></mat-divider>
    <mat-nav-list>
      <a mat-list-item routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="onLinkClick()">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </a>
      <a mat-list-item routerLink="/trending" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="onLinkClick()">
        <mat-icon>show_chart</mat-icon>
        <span>Trending</span>
      </a>
      <a mat-list-item routerLink="/about_us" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="onLinkClick()">
        <mat-icon>info_outline</mat-icon>
        <span>About</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="text-align: center">
      <mat-toolbar>
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>

        <div class="search-bar">
          <form class="search-form" (ngSubmit)="onSubmit()">
            <input matInput #searchBox
              type="search" placeholder="ASX Code / Company Name" [(ngModel)]="company" name="company"
              required [matAutocomplete]="auto" (keyup)="updateAutocomplete(searchBox.value)">
            <button class="search-button" type="submit">
              <mat-icon>search</mat-icon>
            </button>
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let company of companySuggestions" [value]="company">
                {{ company }}
              </mat-option>
            </mat-autocomplete>
          </form>
        </div>

        <span class="fill-space"></span>

        <div class="profile">
          <button mat-icon-button>
            <mat-icon>message</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon>notifications</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon>person</mat-icon>
          </button>
        </div>
      </mat-toolbar>
      <app-home></app-home>
      <app-search></app-search>

      <mat-card *ngIf="stocksResponse !== null">
        <h2>Stocks</h2>
        <pre>{{ stocksResponse | json }}</pre>
      </mat-card>
      <mat-card *ngIf="newsResponse !== null">
        <h2>News</h2>
        <code><pre>{{ newsResponse | json }}</pre></code>
      </mat-card>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
