/backend/envs.sh
**/.idea
**/__pycache__
**/.ipynb_checkpoints
**/backend/notebooks

# Elastic Beanstalk Files
**/.elasticbeanstalk/*
**/!.elasticbeanstalk/*.cfg.yml
**/!.elasticbeanstalk/*.global.yml
