<h1>
  Trending News
</h1>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-7">
      <mat-card>
        <img src="https://i.guim.co.uk/img/media/3f43a1d6f39cafdde82c66da2ccd5fef3060aa7a/0_349_5386_3231/master/5386.jpg?w=620&q=20&auto=format&usm=12&fit=max&dpr=2&s=02883efb9a60c0e7ceb47cd809b69a90" width="100%">
        <mat-card-header class="trending-title">
          Main Article
        </mat-card-header>
        <mat-card-content class="trending-content">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sodales nulla tellus, a sollicitudin nibh porta ac. Integer a dolor a turpis semper sodales non vel tortor.
          </p>
          <p class="article-author">
            by Soham Patel
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-5">
      <div class="row">
        <mat-card>
          <div class="row">
            <div class="col-md-7">
              <mat-card-header class="top-title">
                Other Article
              </mat-card-header>
              <mat-card-content class="top-content">
                <p>
                  Lorem ipsum dolor sit amet...
                </p>
                <p class="article-author">
                  by Soham Patel
                </p>
              </mat-card-content>
            </div>
            <div class="col-md-5">
              <img src="https://i.guim.co.uk/img/media/3f43a1d6f39cafdde82c66da2ccd5fef3060aa7a/0_349_5386_3231/master/5386.jpg?w=620&q=20&auto=format&usm=12&fit=max&dpr=2&s=02883efb9a60c0e7ceb47cd809b69a90" width="100%">
            </div>
          </div>
        </mat-card>
      </div>
      <hr class="spacer">
      <div class="spacer"></div>
      <div class="row">
        <mat-card>
          <div class="row">
            <div class="col-md-7">
              <mat-card-header class="top-title">
                Other Article
              </mat-card-header>
              <mat-card-content class="top-content">
                <p>
                  Lorem ipsum dolor sit amet...
                </p>
                <p class="article-author">
                  by Soham Patel
                </p>
              </mat-card-content>
            </div>
            <div class="col-md-5">
              <img src="https://i.guim.co.uk/img/media/3f43a1d6f39cafdde82c66da2ccd5fef3060aa7a/0_349_5386_3231/master/5386.jpg?w=620&q=20&auto=format&usm=12&fit=max&dpr=2&s=02883efb9a60c0e7ceb47cd809b69a90" width="100%">
            </div>
          </div>
        </mat-card>
      </div>
      <hr class="spacer">
      <div class="row">
        <mat-card>
          <div class="row">
            <div class="col-md-7">
              <mat-card-header class="top-title">
                Other Article
              </mat-card-header>
              <mat-card-content class="top-content">
                <p>
                  Lorem ipsum dolor sit amet...
                </p>
                <p class="article-author">
                  by Soham Patel
                </p>
              </mat-card-content>
            </div>
            <div class="col-md-5">
              <img src="https://i.guim.co.uk/img/media/3f43a1d6f39cafdde82c66da2ccd5fef3060aa7a/0_349_5386_3231/master/5386.jpg?w=620&q=20&auto=format&usm=12&fit=max&dpr=2&s=02883efb9a60c0e7ceb47cd809b69a90" width="100%">
            </div>
          </div>
        </mat-card>
      </div>
      <hr class="spacer">
      <div class="row">
        <mat-card>
          <div class="row">
            <div class="col-md-7">
              <mat-card-header class="top-title">
                Other Article
              </mat-card-header>
              <mat-card-content class="top-content">
                <p>
                  Lorem ipsum dolor sit amet...
                </p>
                <p class="article-author">
                  by Soham Patel
                </p>
              </mat-card-content>
            </div>
            <div class="col-md-5">
              <img src="https://i.guim.co.uk/img/media/3f43a1d6f39cafdde82c66da2ccd5fef3060aa7a/0_349_5386_3231/master/5386.jpg?w=620&q=20&auto=format&usm=12&fit=max&dpr=2&s=02883efb9a60c0e7ceb47cd809b69a90" width="100%">
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>
