<h1>
  {{ title }}
</h1>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-7">
      <mat-card>
        <div class="img-container trending-image">
          <a href="{{ trendingNews[0]?.url }}" target="_blank">
            <img src="{{ trendingNews[0]?.imageUrl }}">
            <div class="hover-text">VISIT ARTICLE</div>
          </a>
        </div>
        <mat-card-header class="trending-title">
          <a class="no-underline" href="{{trendingNews[0]?.url}}" target="_blank">{{trendingNews[0]?.title}}</a>
        </mat-card-header>
        <mat-card-content class="trending-content">
          <p>
            {{trendingNews[0]?.description}}
          </p>
          <p class="article-author">
            by {{trendingNews[0]?.author}} | {{trendingNews[0]?.date}}
          </p>
          <mat-chip color="accent" selected="true">{{ trendingNews[0]?.instrument }}</mat-chip>
        </mat-card-content>
        <form (ngSubmit)="analyse(trendingNews[0])" style="text-align: right">
          <button mat-raised-button class="analysis-button">Envisualise!</button>
        </form>
      </mat-card>
    </div>
    <hr class="top-trending-split">
    <div class="col-md-5">
      <div class="row">
        <mat-card>
          <div class="row">
            <div class="col-md-7">
              <mat-card-header class="top-title">
                <a class="no-underline" href="{{trendingNews[1]?.url}}" target="_blank">{{trendingNews[1]?.title}}</a>
              </mat-card-header>
              <mat-card-content class="top-content">
                <p class="article-author">
                  by {{trendingNews[1]?.author}} | {{trendingNews[1]?.date}}
                </p>
                <mat-chip color="accent" selected="true">{{ trendingNews[1]?.instrument }}</mat-chip>
              </mat-card-content>
            </div>
            <div class="col-md-5">
              <div class="img-container top-image">
                <a href="{{ trendingNews[1]?.url }}" target="_blank">
                  <img src="{{ trendingNews[1]?.imageUrl }}">
                  <div class="hover-text">VISIT ARTICLE</div>
                </a>
              </div>
            </div>
          </div>
          <form (ngSubmit)="analyse(trendingNews[1])" style="text-align: right">
            <button mat-raised-button class="analysis-button">Envisualise!</button>
          </form>
        </mat-card>
      </div>
      <hr class="spacer">
      <div class="spacer"></div>
      <div class="row">
        <mat-card>
          <div class="row">
            <div class="col-md-7">
              <mat-card-header class="top-title">
                <a class="no-underline" href="{{trendingNews[2]?.url}}" target="_blank">{{trendingNews[2]?.title}}</a>
              </mat-card-header>
              <mat-card-content class="top-content">
                <p class="article-author">
                  by {{trendingNews[2]?.author}} | {{trendingNews[2]?.date}}
                </p>
                <mat-chip color="accent" selected="true">{{ trendingNews[2]?.instrument }}</mat-chip>
              </mat-card-content>
            </div>
            <div class="col-md-5">
              <div class="img-container top-image">
                <a href="{{ trendingNews[2]?.url }}" target="_blank">
                  <img src="{{ trendingNews[2]?.imageUrl }}">
                  <div class="hover-text">VISIT ARTICLE</div>
                </a>
              </div>
            </div>
          </div>
          <form (ngSubmit)="analyse(trendingNews[2])" style="text-align: right">
            <button mat-raised-button class="analysis-button">Envisualise!</button>
          </form>
        </mat-card>
      </div>
      <hr class="spacer">
      <div class="row">
        <mat-card>
          <div class="row">
            <div class="col-md-7">
              <mat-card-header class="top-title">
                <a class="no-underline" href="{{trendingNews[3]?.url}}" target="_blank">{{trendingNews[3]?.title}}</a>
              </mat-card-header>
              <mat-card-content class="top-content">
                <p class="article-author">
                  by {{trendingNews[3]?.author}} | {{trendingNews[3]?.date}}
                </p>
                <mat-chip color="accent" selected="true">{{ trendingNews[3]?.instrument }}</mat-chip>
              </mat-card-content>
            </div>
            <div class="col-md-5">
              <div class="img-container top-image">
                <a href="{{ trendingNews[3]?.url }}" target="_blank">
                  <img src="{{ trendingNews[3]?.imageUrl }}">
                  <div class="hover-text">VISIT ARTICLE</div>
                </a>
              </div>
            </div>
          </div>
          <form (ngSubmit)="analyse(trendingNews[3])" style="text-align: right">
            <button mat-raised-button class="analysis-button">Envisualise!</button>
          </form>
        </mat-card>
      </div>
      <hr class="spacer">
      <div class="row">
        <mat-card>
          <div class="row">
            <div class="col-md-7">
              <mat-card-header class="top-title">
                <a class="no-underline" href="{{trendingNews[4]?.url}}" target="_blank">{{trendingNews[4]?.title}}</a>
              </mat-card-header>
              <mat-card-content class="top-content">
                <p class="article-author">
                  by {{trendingNews[4]?.author}} | {{trendingNews[4]?.date}}
                </p>
              </mat-card-content>
            </div>
            <div class="col-md-5">
              <div class="img-container top-image">
                <a href="{{ trendingNews[4]?.url }}" target="_blank">
                  <img src="{{ trendingNews[4]?.imageUrl }}">
                  <div class="hover-text">VISIT ARTICLE</div>
                </a>
              </div>
            </div>
          </div>
          <mat-chip-list style="text-align:left;">
            <mat-chip color="accent" selected="true">{{ trendingNews[4]?.instrument }}</mat-chip>
          </mat-chip-list>
          <form (ngSubmit)="analyse(trendingNews[4])" style="text-align:right;">
            <button mat-button class="analysis-button">Envisualise</button>
          </form>
        </mat-card>
      </div>
    </div>
  </div>
</div>
<hr style="border:transparent;">
