<h1>
  Trending News
</h1>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-7">
      <mat-card>
        <img src="{{trendingNews[0]?.thumbnail}}" width="100%">
        <mat-card-header class="trending-title">
          <a class="no-underline" href="{{trendingNews[0]?.webUrl}}" target="_blank">{{trendingNews[0]?.headline}}</a>
        </mat-card-header>
        <mat-card-content class="trending-content">
          <p>
            {{trendingNews[0]?.trailtext}}
          </p>
          <p class="article-author">
            by {{trendingNews[0]?.byline}}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <hr class="top-trending-split">
    <div class="col-md-5">
      <div class="row">
        <mat-card>
          <div class="row">
            <div class="col-md-7">
              <mat-card-header class="top-title">
                <a class="no-underline" href="{{trendingNews[1]?.webUrl}}" target="_blank">{{trendingNews[1]?.headline}}</a>
              </mat-card-header>
              <mat-card-content class="top-content">
                <p class="article-author">
                  by {{trendingNews[1]?.byline}}
                </p>
              </mat-card-content>
            </div>
            <div class="col-md-5">
              <img src="{{trendingNews[1]?.thumbnail}}" width="100%">
            </div>
          </div>
        </mat-card>
      </div>
      <hr class="spacer">
      <div class="spacer"></div>
      <div class="row">
        <mat-card>
          <div class="row">
            <div class="col-md-7">
              <mat-card-header class="top-title">
                <a class="no-underline" href="{{trendingNews[2]?.webUrl}}" target="_blank">{{trendingNews[2]?.headline}}</a>
              </mat-card-header>
              <mat-card-content class="top-content">
                <p class="article-author">
                  by {{trendingNews[2]?.byline}}
                </p>
              </mat-card-content>
            </div>
            <div class="col-md-5">
              <img src="{{trendingNews[2]?.thumbnail}}" width="100%">
            </div>
          </div>
        </mat-card>
      </div>
      <hr class="spacer">
      <div class="row">
        <mat-card>
          <div class="row">
            <div class="col-md-7">
              <mat-card-header class="top-title">
                <a class="no-underline" href="{{trendingNews[3]?.webUrl}}" target="_blank">{{trendingNews[3]?.headline}}</a>
              </mat-card-header>
              <mat-card-content class="top-content">
                <p class="article-author">
                  by {{trendingNews[3]?.byline}}
                </p>
              </mat-card-content>
            </div>
            <div class="col-md-5">
              <img src="{{trendingNews[3]?.thumbnail}}" width="100%">
            </div>
          </div>
        </mat-card>
      </div>
      <hr class="spacer">
      <div class="row">
        <mat-card>
          <div class="row">
            <div class="col-md-7">
              <mat-card-header class="top-title">
                <a class="no-underline" href="{{trendingNews[4]?.webUrl}}" target="_blank">{{trendingNews[4]?.headline}}</a>
              </mat-card-header>
              <mat-card-content class="top-content">
                <p class="article-author">
                  by {{trendingNews[4]?.byline}}
                </p>
              </mat-card-content>
            </div>
            <div class="col-md-5">
              <img src="{{trendingNews[4]?.thumbnail}}" width="100%">
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>
