@import url("../../bootstrap/bootstrap.min.css");

h1 {
    font-family: 'Francois One', sans-serif;
    font-size: 50px;
    text-decoration: underline salmon solid;
}
.container {
    width:80%; 
    margin:0px auto;
}

mat-card {
    padding: 10px;
}

.spacer {
    padding: 2.5px;
    margin: 0px;
}

.trending-title {
    padding-top:10px;
    font-size: 25px;
    font-weight: bolder;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
}

.trending-content {
    padding-top:10px;
    font-size: 15px;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 8px;
    color: rgb(125, 125, 125);
}

.top-title {
    padding-top:10px;
    font-size: 15px;
    font-weight: bolder;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
}

.top-content {
    padding-top:10px;
    font-size: 15px;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    color: rgb(125, 125, 125);
}

.trending-title:hover, .top-title:hover {
    color: royalblue;
}

.article-author {
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
}
