<h1>
    Similarity Graph
</h1>
<br>
<div class="container">
    <div class="row">
        <div class="col-sm'5">
            <mat-card>
                <mat-card-content class="industries-content">
                    <div id="cy-graph"></div>
                    <hr>
                    <div id="industry-selection">
                        <ul>
                            <li *ngFor="let industry of industries; let i = index">
                                <mat-checkbox (change)="buildGraph()" [(ngModel)]="industry.visible" class="text-inside-grid">{{industry.name}}</mat-checkbox>
                                {{industry.name}}
                            </li>
                        </ul>
                    </div>
                </mat-card-content>
            </mat-card>

        </div>
    </div>
</div>
<br><br>
