[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

flask = "*"
requests = "*"
pandas = "*"
sqlalchemy = "*"
"psycopg2-binary" = "*"
"markdown2" = "*"
coverage = "*"
"psycopg2" = "*"
flask-cors = "*"


[dev-packages]

jupyter = "*"
awsebcli = "*"
line-profiler = "*"


[scripts]

start = "python application.py"
nuke = "python db_manage.py -n -b"
