[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

flask = "*"
requests = "*"
pandas = "*"
sqlalchemy = "*"
"psycopg2-binary" = "*"


[dev-packages]

jupyter = "*"
awsebcli = "*"
