#versionsCard{
	width: 90%;
}

.card-subtitle {
	padding: 0;
	width: 90%;
}

.blog-entry {
	margin: -6px 0 4px;
}

pre {
    font-size: .9em;
    border-radius: 3px;
    padding: .125rem .3125rem .0625rem;
    border: 1px solid #cacaca;
    background-color: #e6e6e6;
    font-family: Consolas,"Liberation Mono",Courier,monospace;
    font-weight: 400;
    color: #0a0a0a;
    overflow-x: scroll;
}