#copyableCode {
    font-size: .9em;
    margin-bottom: 1.5rem;
    padding: 1.5rem;
    font-weight: inherit;
    color: inherit;
    background-color: transparent;
    border: none;
    border-top: 1px solid #000;
    border-bottom: 1px solid #404040;
    border-radius: 5px;
    box-shadow: 0 0 200px rgba(0,0,0,.33) inset;
}

#spectacle article .operation .operation-tags .label {
    cursor: default;
}

#spectacle article .operation .operation-tags .label:hover {
    color: #fefefe;
}

#pathTitle {
    font-size: 2.5em;
}

.operation-title {
    font-size: 2em;
}
