#copyableCode {
    background-color: rgb(238, 238, 238);
    border: 1px solid rgb(200, 200, 200);
    border-radius: 5px;
    padding: 5px;
}

#spectacle article .operation .operation-tags .label {
    cursor: default;
}

#spectacle article .operation .operation-tags .label:hover {
    color: #fefefe;
}
