#queryBuilderCard {
    margin-top: 0px;
}

#formInput {
    margin: 0 auto;
    width: 100%;
}

#formTitle {
    padding-top: 50px;
    margin: 0 auto;
    text-align: center;
}

#formSubmit {
    margin-top: 250px;
}

#formSubmitBtn {
    color: rgb(0, 35, 0);
    border: transparent 2px solid;
    transition: border .15s ease-in-out;
}

#formSubmitBtn:hover {
    border: dodgerblue 2px solid;
}

#outputPlaceholder {
    font-family: "Helvetica", "Arial", sans-serif;
    text-align: center;
    display: block;
}

#liveAPICard {
    margin: 0 auto;
    width: auto;
}

#copyBtn {
    width: auto;
    font-size: 11px;
    color: lightcoral;
    margin-top: 10px;
    margin-bottom: 10px;
}

#apiQuery {
    width: 100%;
    padding: 20px;
    padding-bottom: 50px;
    border: dodgerblue 1px solid;
    border-radius: 10px;
    font-size: 12px;
    overflow: hidden;
    outline: none;
    resize: none;
}

#variablesLabel {
    color: rgb(33,150,243);
    font-size: 12px;
    float: left;
    padding-left: 5px;
}

.mdl-tooltip {
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    text-transform: uppercase;
}

.mdl-checkbox {
    width: 150px;
}

/* Syntax highlighting of output JSON */
.string {
    color: rgb(200, 95, 95);
}
.number {
    color: rgb(118, 192, 124);
}
.boolean {
    color: blue;
}
.null {
    color: blue;
}
.key {
    color: rgb(75, 116, 156);
}
