#queryBuilderCard {
    margin-top: 0px;
}

#formInput {
    margin: 0 auto;
    width: 100%;
}

#formTitle {
    padding-top: 50px;
    margin: 0 auto;
    text-align: center;
}

#checkboxLabel {
    margin-top: 4px;
    cursor: pointer;
}

#formSubmit {
    padding-bottom: 200px;
}

#midColumnButtons {
    position: sticky;
    top: 260px;
}

#scrollToGraphsBtn {
    top: 200px;
    position: relative;
}

.action-btn {
    color: rgb(0, 35, 0);
    border: transparent 2px solid;
    transition: border .15s ease-in-out;
    /* needed to make button remain clickable after scrolling with position: sticky */
    overflow: visible;
}

.action-btn:hover {
    border: dodgerblue 2px solid;
}

#queryResultsCard {
    margin-left: 20px;
}

#outputPlaceholder {
    font-family: "Helvetica", "Arial", sans-serif;
    text-align: center;
    display: block;
    margin-top: -28px;
}

#liveAPICard {
    margin: 0 auto;
    width: auto;
}

#copyBtn {
    width: auto;
    font-size: 11px;
    color: lightcoral;
    margin-top: 10px;
    margin-bottom: 10px;
}

#apiQuery {
    width: 100%;
    padding: 20px;
    padding-bottom: 50px;
    border: dodgerblue 1px solid;
    border-radius: 10px;
    font-size: 12px;
    overflow: hidden;
    outline: none;
    resize: none;
}

.mdl-list {
    margin-left: -15px;
}

.mdl-tooltip {
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    text-transform: uppercase;
}

#variablesLabel {
    font-size: 12px;
}

/* Syntax highlighting of output JSON */
.string {
    color: rgb(200, 95, 95);
}
.number {
    color: rgb(118, 192, 124);
}
.boolean {
    color: blue;
}
.null {
    color: blue;
}
.key {
    color: rgb(75, 116, 156);
}

hr {
    width: 100%;
    margin: 35px 0;
}

canvas{
    width: 500px;
    height: 300px;
    background-color: rgb(250, 250, 250);
}
