#rawLogSubmitBtn {
    color: rgb(0, 35, 0);
    border: transparent 2px solid;
    transition: border .15s ease-in-out;
}

#rawLogSubmitBtn:hover {
    border: dodgerblue 2px solid;
}

#documentationCard {
    width: 90%;
}

.mdl-card {
    overflow: auto;
    padding: 20px;
}

#readmeMarkdown {
    text-align: left;
}

#logsInfo {
    color: #3c6676;
    background-color: #d8ecf0;
    border-color: #c6d8e9;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    margin: 0px auto;
}
