#projectInformation {
    background: url(/static/assets/Laptop_Coffee.jpg) center / cover;
}

.demo-card-wide.mdl-card {
    word-wrap: break-word;
}

.demo-card-wide>.mdl-card__title {
    color: rgb(255, 255, 255);
    height: 176px;
}

.demo-card-wide>.mdl-card__menu {
    color: #fff;
}

#pictureCard {
    cursor: pointer;
    width: 175px !important;
}

.profilePhoto {
    width: auto;
    height: 100%;
}

#projectCard {
    width: 30vw;
    min-width: 300px;
}

#photoName {
    padding: 0px;
    padding-bottom: 10px;
    padding-left: 10px;
}
