#versionsCard{
	width: 90%;
}


.card-subtitle {
	padding: 0;
	width: 90%;
}

.changelog-list {
	margin-top: -24px;
}

.bugfix-title {
	margin-top: -10px;
}

.release-date {
	margin: -6px 0 4px;
}
