<div>
  <br>
  <span *ngIf="!query">Search a news article using the above search bar</span>
  <mat-expansion-panel  *ngIf="query" #filtersPanel class="expansion_panel" [expanded]="panelState">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Filters
        </mat-panel-title>
      </mat-expansion-panel-header>
      <span>Start:</span>
      <input style="margin: 10px 0;" type="date" required [(ngModel)]="startDate" name="startDate">
      <span>End:</span>
      <input style="margin: 10px 0;" type="date" required [(ngModel)]="endDate" name="endDate">
      <button mat-raised-button (click)="togglePanel()">Update</button>
  </mat-expansion-panel>
  <hr>
  <hr>
  <div *ngIf="query">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="row">
            <mat-card style="height: 450px;">NEWS</mat-card>
          </div>
          <hr class="spacer">
          <div class="row" style="padding-top:5px;">
            <div class="col-md-6" style="padding: 0px; padding-right:5px;">
              <mat-card style="height: 250px;">GRAPH #1</mat-card>
            </div>
            <hr class="hidden-spacer">
            <div class="col-md-6" style="padding: 0px; padding-left:5px;">
              <mat-card style="height: 250px;">GRAPH #2</mat-card>
            </div>
          </div>
        </div>
        <hr class="hidden-spacer">
        <div class="col-md-4">
          <mat-card style="height: 710px;">ANALYSIS</mat-card>
        </div>
      </div>
    </div>
    <!-- <mat-grid-list cols="3" rowHeight="200px" gutterSize="15px">
  <div *ngIf="query" style="margin: 2em;">
    <mat-grid-list cols="3" rowHeight="200px" gutterSize="15px">
      <mat-grid-tile
          colspan="2"
          rowspan="2">
        <mat-card>
          NEWS
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile
        colspan="1"
        rowspan="3">
        <mat-card>
          ANALYSIS
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile
        colspan="1"
        rowspan="1">
        <mat-card>
          GRAPH#1
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile
        colspan="1"
        rowspan="1">
        <mat-card>
          GRAPH#2
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list> -->
  </div>
  <br>

  <mat-card class="json_card" *ngIf="stocksResponse !== null">
    <h2>Stocks</h2>
    <pre>{{ stocksResponse | json }}</pre>
  </mat-card>
  <mat-card class="json_card" *ngIf="newsResponse !== null">
    <h2>News</h2>
    <code><pre>{{ newsResponse | json }}</pre></code>
  </mat-card>
</div>
