pre {
  text-align: left;
  overflow: auto;
}

.json_card {
  max-width: 80%;
  margin: 2em auto;
  text-align: center;
}

mat-card {
  width: calc(100% - 70px);
  height: calc(100% - 70px);
}

.expansion_panel {
  margin-right: calc(2em + 12px);
  position: absolute;
  right: 0;
  width: 200px;
  z-index: 1;
}
