<div>
  <br>
  <span *ngIf="!query">Search a news article using the above search bar</span>
  <mat-expansion-panel *ngIf="query" #filtersPanel class="expansion_panel" [expanded]="panelState">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <p class="filterBtn">Filters</p>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <span>Start:</span>
      <ng2-flatpickr placeholder="Pick a date!" style="margin: 10px 0;" type="date" required [(ngModel)]="startDate" name="startDate"></ng2-flatpickr>
      <br>
      <span>End:</span>
      <ng2-flatpickr placeholder="Pick a date!" style="margin: 10px 0;" type="date" required [(ngModel)]="endDate" name="endDate"></ng2-flatpickr>
      <hr class="filterBoxSpacer">
      <div style="margin: 0 auto; text-align:center;">
        <button mat-raised-button (click)="togglePanel()" class="filterSubmitBtn">Update</button>
      </div>
  </mat-expansion-panel>
  <div *ngIf="query" style="margin-top: 62px">
    <div class="container" *ngFor="let resp of guardianResponse">
      <div class="row">
        <div class="col-md-8">
          <div class="row">
            <!-- <mat-card class="news-card">NEWS:
              {{ resp.title }}
              <a [href]="resp.url">{{resp.url}}</a>
            </mat-card> -->
            <mat-card class="news-card">
              <div class="img-container">
                <a href="{{ resp.url }}" target="_blank">
                  <img src="{{ resp.thumbnail }}">
                  <div class="hover-text">VISIT ARTICLE</div>
                </a>
              </div>
              <mat-card-header class="trending-title">
                <a class="no-underline" href="{{ resp.url }}" target="_blank">{{ resp.title }}</a>
              </mat-card-header>
              <mat-card-content class="trending-content">
                <p [innerHtml]="resp.trailtext"></p>
                <p class="article-author">
                  by {{ resp.byline }}
                </p>
              </mat-card-content>
            </mat-card>
          </div>
          <hr class="spacer">
          <div class="row" style="padding-top:5px;">
            <div class="col-md-6" style="padding: 0px; padding-right:5px;">
              <mat-card class="graph-card">GRAPH #1</mat-card>
            </div>
            <hr class="hidden-spacer">
            <div class="col-md-6" style="padding: 0px; padding-left:5px;">
              <mat-card class="graph-card">GRAPH #2</mat-card>
            </div>
          </div>
        </div>
        <hr class="hidden-spacer">
        <div class="col-md-4">
          <mat-card class="analysis-card">ANALYSIS</mat-card>
          <form (ngSubmit)="analyse(resp)">
            <button>Analysis</button>
          </form>
      </div>
      <mat-divider style="margin: 30px 0;"></mat-divider>
    </div>
  </div>
  <br>

  <mat-card class="json_card" *ngIf="stocksResponse !== null">
    <h2>Stocks</h2>
    <pre>{{ stocksResponse | json }}</pre>
  </mat-card>
  <mat-card class="json_card" *ngIf="newsResponse !== null">
    <h2>News</h2>
    <code><pre>{{ newsResponse | json }}</pre></code>
  </mat-card>
</div>
