<form (ngSubmit)="onSubmit()">
  <input #searchBox type="text" placeholder="ASX Code" required
    [(ngModel)]="company" name="company" autofocus (keyup)="changeDropDown(searchBox.value)">
    <ul>
        <li *ngFor="let result of results">
            <p>{{result}}</p>
        </li>
    </ul>
  <input type="date" placeholder="Start" required
    [(ngModel)]="startDate" name="startDate">
  <input type="date" placeholder="End" required
    [(ngModel)]="endDate" name="endDate">
  <button>Find</button>
</form>

<br>
<mat-card *ngIf="stocks != null">
  <h2>Company Returns</h2>
  <code><pre>{{ stocks | json }}</pre></code>
</mat-card>
<br>
<mat-card *ngIf="news != null">
  <h2>News</h2>
  <code><pre>{{ news | json }}</pre></code>
</mat-card>
<br>
