{% extends "index.html" %}
{% block body_contents %}
<link rel="stylesheet" href="{{url_for('static', filename='styles/logs.css')}}">
<div class="mdl-grid" align="center">
    <div class="mdl-cell mdl-cell--12-col">
        <h2>Logs</h2>
    </div>
    The last 100 logs are shown here. For full logs, please click below.
    <div class="mdl-cell mdl-cell--12-col">
        <form method="get">
            <input hidden name="raw" value="1">
            <button class="mdl-button mdl-js-button  mdl-button--raised mdl-js-ripple-effect" id="rawLogSubmitBtn">Get Raw Logs</button>
        </form>
    </div>
    <div class="mdl-cell mdl-cell--12-col">
        <div class=" mdl-card mdl-shadow--2dp" id="documentationCard">
            <pre id="readmeMarkdown">{{ logs | safe }}</pre>
        </div>
    </div>
</div>
{% endblock %}
