{% extends "index.html" %}
{% block body_contents %}
<link rel="stylesheet" href="{{url_for('static', filename='styles/versions.css')}}">
<div class="mdl-grid" align="center">
    <div class="mdl-cell mdl-cell--12-col">
        <h2>Version History</h2>
    </div>
    <div class="mdl-cell mdl-cell--12-col">
        <div class="demo-card-wide mdl-card mdl-shadow--2dp" id="versionsCard">
            <div class="mdl-card__title" id="cardTitle">
                <h2 class="mdl-card__title-text mdl-typography--font-bold">Version 1.0.0 (Current)</h2>
            </div>
            <div class="mdl-card__supporting-text" align="left">
                <b>Release:</b> 23/03/2018
            </div>
            <br>
            <div class="mdl-card__title" id="cardSubtitle">
                <h2 class="mdl-card__subtitle-text mdl-typography--font-bold">Change log:</h2>
            </div>
            <div class="mdl-card__supporting-text" align="left">
                <ul>
                    <li>Added the API.</li>
                </ul>
            </div>
            <hr>
            <br>
        </div>
    </div>
</div>
{% endblock %}
