<p>
  analysis works!
</p>
<div class="row">
  <div class="col-md-7">
    <mat-card>
      <img src="{{newsInfo?.thumbnail}}" width="100%">
      <mat-card-header class="trending-title">
        <a class="no-underline" href="{{newsInfo?.webUrl}}" target="_blank">{{newsInfo?.headline}}</a>
      </mat-card-header>
      <mat-card-content class="trending-content">
        <p>
          {{newsInfo?.trailtext}}
        </p>
        <p class="article-author">
          by {{newsInfo?.byline}}
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <hr class="top-trending-split">
</div>

<div *ngIf="!trendInfo.hidden">
  <pre><code>{{trendInfo.analysis}}</code></pre>
</div>
