@import url("../../bootstrap/bootstrap.min.css");

.container {
  margin: 0 auto;
  width: 90%;
}

.spacer {
  margin: 0;
  padding: 2.5px;
}

.hidden-spacer {
  border: none;
  margin: 5px;
}

.trending-title {
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: bolder;
  padding-top: 10px;
  text-align: left;
  margin-left: -17px;
}

.trending-content {
  color: rgb(125, 125, 125);
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  padding-bottom: 8px;
  padding-top:10px;
  text-align: left;
}

.article-author {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}

a.no-underline {
  color: black;
  text-decoration: none;
}

a.no-underline:hover {
  color: royalblue;
}

.graph-card {
  font-family: 'Open Sans', sans-serif;
  height: 280px;
}

.news-card {
  font-family: 'Open Sans', sans-serif;
  height: 600px;
}

.analysis-card {
  font-family: 'Open Sans', sans-serif;
  height: 891px;
}

.expanded-card {
  font-family: 'Open Sans', sans-serif;
  height: 42vw;
}

.img-container {
  height: auto;
  width: 100%;
  overflow: hidden;
}

.img-container img {
  width: 100%;
}

mat-card {
  padding: 10px;
}

.img-container:hover {
  opacity: 0.6;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.img-container:hover .hover-text {
  opacity: 1;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.hover-text {
  color: white;
  font-size: 28px;
  position: absolute;
  top: 32.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
}

@media (min-width: 500px) {
  .img-container {
    height: 65%;
  }
  .hover-text {
    font-size: 36px;
  }
}

mat-chip {
  padding: 0;
  font-size: 9px;
  margin: 0;
}

mat-chip:not(.mat-basic-chip) {
  padding: 2px 5px;
}

.analysis-title {
  font-family: 'Francois One', sans-serif;
  font-size: 36px;
  text-decoration: underline salmon solid;
  text-align: center;
  display: inline-block;
  margin: 0;
}

.analysis-content {
  font-size: 14px;
  text-align: left;
  margin-top: 60px;
}

.analysis-data {
  font-family: 'Courier New', Courier, monospace;
  font-style: italic;
  margin-bottom: 7px;
  padding: 7px;
  text-align: center;
}

.analysis-related {
  margin-bottom: 7px;
  padding: 7px;
}

.positive-data {
  color: green;
}

.negative-data {
  color: red;
}

mat-progress-spinner {
  margin: 0 auto;
}

.analysis-card > mat-progress-spinner {
  margin-top: 200px;
}

.graph-card > mat-progress-spinner {
  margin-top: 90px;
}

:host ::ng-deep .chartjs-render-monitor {
  margin-top: 10px;
}

.expand-button {
  float: right;
}

.edit-button {
  border: solid 1.5px lightsalmon;
  font-weight: bold;
  padding: 3px 6px;
}

.edit-button:hover {
  background-color: salmon;
  border: solid 1.5px salmon;
  color: whitesmoke;
}

::ng-deep .mat-tooltip {
  text-align: center;
}

.info-button {
  color: gray;
  float: right;
  margin-top: 5px;
}

.help-button {
  color: gray;
  float: right;
  margin-top: -10px;
}
