<br>
<div class="container" *ngIf="showingOverview">
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <mat-card class="news-card">
          <div class="img-container">
            <a href="{{ newsInfo.url }}" target="_blank">
              <img src="{{ newsInfo.imageUrl }}">
              <div class="hover-text">VISIT ARTICLE</div>
            </a>
          </div>
          <mat-card-header class="trending-title">
            <a class="no-underline" href="{{ newsInfo.url }}" target="_blank">{{ newsInfo.title }}</a>
          </mat-card-header>
          <mat-card-content class="trending-content">
            <p [innerHtml]="newsInfo.description"></p>
            <p class="article-author">
              by {{ newsInfo.author }} | {{ newsInfo.date }}
            </p>
            <mat-chip-list style="text-align:left;">
              <mat-chip color="accent" selected="true">{{ newsInfo.instrument }}</mat-chip>
            </mat-chip-list>
          </mat-card-content>
        </mat-card>
      </div>
      <hr class="spacer">
      <div class="row" style="padding-top: 5px;">
        <div class="col-md-6" style="padding: 0px; padding-right: 5px;">
          <mat-card class="graph-card">
            <mat-progress-spinner diameter="42" mode="indeterminate" *ngIf="loadingReturnsPct"></mat-progress-spinner>
            <div *ngIf="!loadingReturnsPct">
              <button mat-icon-button class="expand-button" (click)="expandGraph1()">
                <mat-icon>call_made</mat-icon>
              </button>
            </div>
            <chart [type]="graph_type" [data]="rtn_data" [options]="rtn_options"></chart>
          </mat-card>
        </div>
        <div class="col-md-6" style="padding: 0px; padding-left: 5px;">
          <mat-card class="graph-card">
            <mat-progress-spinner diameter="42" mode="indeterminate" *ngIf="loadingReturnsPct"></mat-progress-spinner>
            <div *ngIf="!loadingReturnsPct">
              <button mat-icon-button class="expand-button" (click)="expandGraph2()">
                <mat-icon>call_made</mat-icon>
              </button>
            </div>
            <chart [type]="graph_type" [data]="cm_rtn_data" [options]="cm_rtn_options"></chart>
          </mat-card>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <mat-card class="analysis-card">
        <h2 class="analysis-title">Analysis</h2>
        <button mat-icon-button class="info-button" (click)="openHelp(generalInfo, generalInfoHelp)">
          <mat-icon>info_outline</mat-icon>
        </button>
        <mat-progress-spinner diameter="42" mode="indeterminate" *ngIf="trendInfo.hidden && !trendInfo.error"></mat-progress-spinner>
        <mat-card-content class="analysis-content" *ngIf="trendInfo.error">
          <b>Summary:</b>
          <div class="analysis-data">
            {{trendInfo.analysis}}
          </div>
        </mat-card-content>
        <mat-card-content class="analysis-content" *ngIf="!trendInfo.hidden">
          <div>
            <b>Summary:
              <span class="positive-data" *ngIf="overallMetric > 40">
                BUY
              </span>
              <span class="neutral-data" *ngIf="-40 <= overallMetric && overallMetric <= 40">
                HOLD
              </span>
              <span class="negative-data" *ngIf="overallMetric < -40">
                SELL
              </span>
            </b>
            <button mat-icon-button class="help-button" (click)="openHelp(summary, summaryHelp)">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
          <div class="analysis-data positive-data" *ngIf="positiveSummary">
            {{trendInfo.analysis}}
          </div>
          <div class="analysis-data negative-data" *ngIf="!positiveSummary">
            {{trendInfo.analysis}}
          </div>
          <div>
            <b *ngIf="factors[0].value">Cumulative Returns:
                <span class="positive-data" *ngIf="returnsMetric > 40">
                  BUY
                </span>
                <span class="neutral-data" *ngIf="-40 <= returnsMetric && returnsMetric <= 40">
                  HOLD
                </span>
                <span class="negative-data" *ngIf="returnsMetric < -40">
                  SELL
                </span>
            </b>
            <button mat-icon-button class="help-button" (click)="openHelp(factors[0].name, factors[0].help)">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
          <div class="analysis-data" *ngIf="factors[0].value">
            {{trendInfo.cumulativeReturn}}
          </div>
          <div>
            <b *ngIf="factors[1].value">5-day Correlation:
                <span class="positive-data" *ngIf="shortRangeMetric > 40">
                  BUY
                </span>
                <span class="neutral-data" *ngIf="-40 <= shortRangeMetric && shortRangeMetric <= 40">
                  HOLD
                </span>
                <span class="negative-data" *ngIf="shortRangeMetric < -40">
                  SELL
                </span>
            </b>
            <button mat-icon-button class="help-button"(click)="openHelp(factors[1].name, factors[1].help)">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
          <div class="analysis-data" *ngIf="factors[1].value">
            {{trendInfo.shortRangeCorrelation}}
          </div>
          <div>
            <b *ngIf="factors[2].value">20-day Correlation:
                <span class="positive-data" *ngIf="longRangeMetric > 40">
                  BUY
                </span>
                <span class="neutral-data" *ngIf="-40 <= longRangeMetric && longRangeMetric <= 40">
                  HOLD
                </span>
                <span class="negative-data" *ngIf="longRangeMetric < -40">
                  SELL
                </span>
            </b>
            <button mat-icon-button class="help-button" (click)="openHelp(factors[2].name, factors[2].help)">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
          <div class="analysis-data" *ngIf="factors[2].value">
            {{trendInfo.longRangeCorrelation}}
          </div>
          <div>
            <b>Related Companies:</b>
          </div>
          <div class="analysis-related">
            <ul>
              <li *ngFor="let related of trendInfo.relatedCompanies">{{related}}</li>
            </ul>
          </div>
          <div style="text-align: center;">
            <button mat-raised-button (click)="openDialog()" class="edit-button" *ngIf="!trendInfo.hidden">
              Configure Factors
            </button>
          </div>
          <hr>
          <p style="margin-top: 36px;">
            <strong>Note:</strong>
            Visualising data on news within the past few days may not give the best results, since markets may take some time to adjust.
          </p>
        </mat-card-content>
        <br>
      </mat-card>
    </div>
  </div>
</div>
<div class="container" *ngIf="showingGraph1">
  <div class="row">
    <div class="col-md-12">
      <mat-card class="expanded-card">
        <div id="returns-pct" hidden="true"></div>
        <button mat-icon-button (click)="expandGraph1()" class="expand-button">
          <mat-icon>call_received</mat-icon>
        </button>
        <chart [type]="graph_type" [data]="rtn_data" [options]="rtn_options"></chart>
      </mat-card>
    </div>
  </div>
</div>
<div class="container" *ngIf="showingGraph2">
  <div class="row">
    <div class="col-md-12">
      <mat-card class="expanded-card">
        <div id="cm-returns-pct" hidden="true"></div>
        <button mat-icon-button (click)="expandGraph2()" class="expand-button">
          <mat-icon>call_received</mat-icon>
        </button>
        <chart [type]="graph_type" [data]="cm_rtn_data" [options]="cm_rtn_options"></chart>
      </mat-card>
    </div>
  </div>
</div>
<br>
